.pagination{
    position: relative;
    margin: 20px 0;
    line-height: 1.43em;
    font-weight: bold;
    ul{
        display: inline-block;
        li{
            display: inline;
            position: absolute;
        }
        li.prev{
            left:0;
        }
        li.next{
            right:0;
        }
    }
}